public
AVXLChart.js
ui_components
node_modules
*.pyc
.DS_Store
settings.py
bower_components
.sass-cache
*.xcf
npm-debug.log
src/templates/*
!src/templates/default
src/static/sass/*
!src/static/sass/default
src/static/css/*
!src/static/css/default
src/static/images/*
!src/static/images/default
src/resources/recipes/*
!src/resources/recipes/default