config.js
public
ui_components
node_modules
*.pyc
.DS_Store
settings.py
bower_components
.sass-cache
*.xcf
npm-debug.log
src/templates/*
!src/templates/default
!src/templates/clariah
src/static/sass/*
!src/static/sass/default
src/static/css/*
!src/static/css/default
!src/static/css/clariah
src/static/images/*
!src/static/images/default
!src/static/images/clariah
src/resources/recipes/*
!src/resources/recipes/default
!src/resources/recipes/clariah