<head>
	<title>L A B O - Page does not exist</title>
    {% include '%s/head.html' % headDir %}
</head>

<body>

{% include '%s/nav.html' % navbarDir %}

	<div class="container">

		<div class="row" style="height:50px;">

			<div class="col-md-12">
				<div role="tabpanel" class="tab-pane collection-tab" id="links">

					<div class="row text-center">
						<div class="dashboard-header">
							<h3>The server did not seem to be able to serve the page you requested. Please try again at a later time</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>