<!doctype HTML>

<html>

<head>
	<title>CLARIAH Media Suite - APIs</title>
	{% include '%s/head.html' % headDir %}
</head>


<body>

{% with page='apis' %}
{% include '%s/nav.html' % navbarDir %}
{% endwith %}

<div class="container">

	<div class="page-header">
        <h1>APIs</h1>
    </div>

    <p>The APIs design allows the integration of new data of different formats and data models.</p>

    <br>

	<dl class="dl-horizontal">
		<dt>Collections API</dt>
		<dd>high-level collection information (metadata: data format, size, etc.)</dd>
		<dt><a href="http://blofeld.beeldengeluid.nl:5320/#/default" target="_searchapi">Search API</a></dt>
		<dd>searching for collection items.</dd>
		<dt><a href="http://blofeld.beeldengeluid.nl:5303/#/default" target="_annotationapi">Annotation API</a></dt>
		<dd>annotating existing data using W3C Web Annotation standard (mainly for manual annotations).</dd>
		<dt>Data Enrichment API</dt>
		<dd>collection enrichment through automatic mechanisms  or by human interaction.</dd>
	</dl>

    <br><br>

</div>

</body>


</html>