<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>L A B O - Contact</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/collections.css">
</head>
<body>

    {% with page='collections' %}
    {% include 'nav.html' %}
    {% endwith %}

    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h3>CLARIAH Media Suite Collections Overview</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <label style="width: 100px;">Collection</label>
                <select onchange="setCollection()" id="collectionSelect" style="width: 400px;">
                    <option value="" disabled="" selected></option>
                </select><br/>

                <label style="width: 100px;">Document Type</label>
                <select onchange="setDocType()" id="docTypeSelect" style="width: 400px;">
                </select><br/>

                <label style="width: 100px;">Date field</label>
                <select onchange="setDateField()" id="dateFieldSelect" style="width: 400px;">
                    <option value="" disabled="" selected></option>
                </select><br/>

                <label style="width: 100px;">Facet field</label>
                <select onchange="setFacetField()" id="facetFieldSelect" style="width: 400px;">
                    <option value="" disabled="" selected></option>
                </select><br/>
            </div>
            <div class="col-md-6">
                <div id="show_stats"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="show_timeline"></div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="static/js/collections.js"></script>
    <script src="static/js/linechart.js"></script>
</body>
