<!doctype HTML>
<html>

<head>
    <title>L A B O - Components</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/searchkit/0.8.3/theme.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    {% with page='components' %}
    {% include 'nav.html' %}
    {% endwith %}

    <!-- https://medium.com/wdstack/bootstrap-sidebar-examples-e363021395ff#.uu0l1xx9d -->
        <div class="row affix-row">
            <div class="col-sm-3 col-md-2 affix-sidebar">

                <div class="sidebar-nav">

                    <div class="navbar navbar-default" role="navigation">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>

                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav" id="component_menu">

                                <li class="active">
                                    <a href="#" data-toggle="collapse" data-target="#menu_generic" data-parent="#component_menu" class="collapsed">
                                        <h4>
										CLARIAH Components
										</h4>
                                    </a>
                                    <div class="collapse" id="menu_generic" style="height: 0px;">
                                        <ul class="nav nav-list">
                                            <li><a href="#">How to</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!-- Collection components -->
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#menu_collection" data-parent="#component_menu" class="collapsed">
                                        <span class="glyphicon glyphicon-asterisk"></span>Collection<span class="caret pull-right"></span>
                                    </a>
                                    <div class="collapse in" id="menu_collection">
                                        <ul class="nav nav-list">
                                            <li><a href="#" onclick="showComponent('Collection analyser')">Collection analyser</a></li>
                                            <li><a href="#" onclick="showComponent('Collection selector')">Collection selector</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!-- Search components -->
                                <li class="active">
                                    <a href="#" data-toggle="collapse" data-target="#menu_search" data-parent="#component_menu" class="collapsed">
                                        <span class="glyphicon glyphicon-search"></span> Search <span class="caret pull-right"></span>
                                    </a>
                                    <div class="collapse in" id="menu_search">
                                        <ul class="nav nav-list">
                                            <li><a href="#" onclick="showComponent('Facet search')">Facet search</a></li>
                                            <li><a href="#" onclick="showComponent('Comparative search')">Comparative search</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!-- Play-out components -->
                                <li class="active">
                                    <a href="#" data-toggle="collapse" data-target="#menu_playout" data-parent="#component_menu" class="collapsed">
                                        <span class="glyphicon glyphicon-play"></span> Play-out <span class="caret pull-right"></span>
                                    </a>
                                    <div class="collapse in" id="menu_playout">
                                        <ul class="nav nav-list">
                                            <li><a href="#" onclick="showComponent('Segmenting player')">Segmenting player</a></li>
                                            <li><a href="#" onclick="showComponent('JWPlayer')">JWPlayer</a></li>
                                            <li><a href="#" onclick="showComponent('Vimeo player')">Vimeo player</a></li>
                                            <li><a href="#" onclick="showComponent('YouTube player')">YouTube player</a></li>
                                            <li><a href="#" onclick="showComponent('Image viewer')">Image viewer</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!-- Annotation components -->
                                <li class="active">
                                    <a href="#" data-toggle="collapse" data-target="#menu_annotation" data-parent="#component_menu" class="collapsed">
                                        <span class="glyphicon glyphicon-comment"></span> Annotation <span class="caret pull-right"></span>
                                    </a>
                                    <div class="collapse in" id="menu_annotation">
                                        <ul class="nav nav-list">
                                            <li><a href="#" onclick="showComponent('Commenting')">Commenting</a></li>
                                            <li><a href="#" onclick="showComponent('Classifying')">Classifying</a></li>
                                            <li><a href="#" onclick="showComponent('Linking')">Linking</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!-- Data visualisation components -->
                                <li class="active">
                                    <a href="#" data-toggle="collapse" data-target="#menu_visuals" data-parent="#component_menu" class="collapsed">
                                        <span class="glyphicon glyphicon-stats"></span> Data visualisations <span class="caret pull-right"></span>
                                    </a>
                                    <div class="collapse in" id="menu_visuals">
                                        <ul class="nav nav-list">
                                            <li><a href="#" onclick="showComponent('Line chart')">Line chart (TODO)</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!--
                                <li><a href="#"><span class="glyphicon glyphicon-lock"></span> Normalmenu</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> WithBadges <span class="badge pull-right">42</span></a></li>
                                <li><a href=""><span class="glyphicon glyphicon-cog"></span> PreferencesMenu</a></li>
                                -->
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-9 col-md-10 affix-content">
                <div id="component_x" class="row">

                </div>
            </div>

        </div>

</body>

<!-- for the linechart component -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

<!-- for the player components-->
<script type="text/javascript" src="/static/vendor/vimeo/froogaloop.js"></script>
<script type="text/javascript" src="/static/vendor/jwplayer-7.5.0/jwplayer.js"></script>

<!-- for the image viewer -->
<script type="text/javascript" src="/static/node_modules/openseadragon/build/openseadragon/openseadragon.min.js"></script>
<script type="text/javascript" src="/static/vendor/openseadragonselection-master/dist/openseadragonselection.js"></script>

<!-- Babel is needed to parse the labo-components.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

<!-- React is required for the entire library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>

<!-- The API config is required for the library to connect to compatible endpoints-->
<script src="/static/js/config.js"></script>

<!-- The component library -->
<script src="/static/public/assets/benglabs.js"></script>

<!-- The custom JS of this page, which utilizes the component library -->
<script type="text/babel" src="/static/js/labo-components.js"></script>

</html>
