<!doctype HTML>

<html>

<head>
	<title>CLARIAH Media Suite - Data sources</title>
	{% include '%s/head.html' % headDir %}
</head>


<body>

{% with page='data-sources' %}
{% include '%s/nav.html' % navbarDir %}
{% endwith %}

<div class="container">

	<div class="page-header">
        <h1>Data sources</h1>
    </div>

    <p>Data Sources contain the collections (e.g., television broadcasts from The Netherlands Institute for Sound and Vision, EYE Film Museum, DANS Oral History collections). All collections (and sub-collections) are registered in a common inventory built in <a href="http://mediasuitedata.clariah.nl/">CKAN</a> (an open source platform for collection registration. Most collections are available both in Elasticsearch (full text search) and RDF format (semantic search), and some in either of the two.</p>

	<p>CKAN is a platform for collection registration. It is a software solution that provides the tools to "streamline publishing, sharing, finding and using data", making it accessible. CKAN is initially focused on making open collections all over the world easily discovered and accessed. However, it can also be used for collections that are not open, as a way to make them discoverable.</p>

	<p>The current instance of CKAN implemented for the CLARIAH media studies focus includes around 40 datasets used in previous projects, registered on behalf of the collection owners.  In the near future, more organisations can register their collections and add data themselves. Registration with an open licence is possible, but private access is also an option (see <a href="/help-feedback">Help &amp; Feedback</a> section).</p>

	<p>Datasets that are registered in CKAN can be searched by using tags, organizations, or groups. Groups are used to organise datasets in relation to a tool or a project in which they were originally curated (e.g., DIVE+, Oral History Today). Each dataset is described using basic descriptive and administrative metadata. The data itself can be added to each registered collection using different formats (e.g., XML, JSON, RDF).</p>

	<p>CKAN is aimed at data publishers, memory institutions and organizations wanting to make their data open and available. It also enables individual researchers to register their own datasets. In collaboration with cultural heritage institutions, CLARIAH Media Studies focus intends to identify new relevant collections to be registered and opened to scholarly use, and the creation of guidelines that can be used by non-ICT experts willing to add their datasets (see <a href="/help-feedback">Help &amp; Feedback</a> section).</p>

	<br>

	<p class="text-center"><a class="btn btn-info" href="http://mediasuitedata.clariah.nl/">Go to the Media Suite data sources</a></p>

    <br><br>

</div>

</body>


</html>