<!doctype HTML>

<html>

<head>
	<title>L A B O</title>
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/main.css">
</head>


<body>

{% with page='home' %}
{% include 'nav.html' %}
{% endwith %}

<div class="container">

	<header class="labo-header">

		<h1 class="text-center">
			<img src="/static/images/small-curl.png">&nbsp;&nbsp;Welcome to L A B O&nbsp;&nbsp;<img src="/static/images/small-curl.png"><br>
			<small>We've jotted some things on the whiteboard for you to try</small>
		</h1>
	</header>

	<div class="row">

		<div id="1" class="col-sm-6 col-md-4">
			<div class="well labs-well labs-goto" onclick="gotoPage('search')">
				<h3><i class="fa fa-search"></i>&nbsp;Search our catalogue</h3>
				Try out our general purpose search interface, to get to grips with our collection
			</div>
		</div>
		<div class="col-sm-6 col-md-8">
			<div class="well labs-well">
				By harvesting our OAI-PMH provider we've implemented an example search engine based on ElasticSearch. We consider this search engine to be useful for exploring our collection in a general sense. If you require more specific search strategies, we've documented the current approach.
			</div>
		</div>

	</div>

	<div class="row">
		<div id="2" class="col-sm-6 col-md-4">
			<div class="well labs-well labs-goto" onclick="gotoPage('apis')">
				<h3><i class="fa fa-plug"></i></span>&nbsp;Try out different APIs</h3>
				Currently we have APIs for search, entity extraction and speech recognition
			</div>
		</div>
		<div class="col-sm-6 col-md-8">
			<div class="well labs-well">
				We're implementing several services that do stuff with our catalogue or can process different kinds of data. Each of these services have APIs which you can try out here. So far we have search, entity extraction and speech recogntion. We plan to have many more APIs in the near future, also exposing services for face recognition and recommendation software.
			</div>
		</div>
	</div>

	<div class="row">
		<div id="3" class="col-sm-6 col-md-4 card-wrapper">
			<div class="well labs-well labs-goto" onclick="gotoPage('semweb')">
				<h3><i class="fa fa-link"></i>&nbsp;Semantic search</h3>
				Use SPARQL to search our collection semantically.
			</div>
		</div>
		<div class="col-sm-6 col-md-8">
			<div class="well labs-well">
				Next to ElasticSearch we've implemented a search engine based on the ClioPatria triplestore. Again we've described the import process via OAI-PMH and also how we map to well-known RDF namespaces and reconsile with our <a href="gtaa.beeldengeluid.nl" target="_gtaa">Thesaurus</a>. We also provide a link to an RDF dump which is updated every day.
			</div>
		</div>

	</div>

	<div class="row">
		<div id="3" class="col-sm-6 col-md-4">
			<div class="well labs-well labs-goto" onclick="gotoPage('recommendation')">
				<h3><i class="fa fa-video-camera"></i>&nbsp;Video recommendation</h3>
				Find related news items for any news broadcast
			</div>
		</div>
		<div class="col-sm-6 col-md-8">
			<div class="well labs-well">
				In cooperation with the university of Amsterdam we've developed an recommendation service for eight o'clock news broadcasts.
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>

	<h1 class="text-center">
		<img src="/static/images/small-curl.png">&nbsp;&nbsp;Want to know more?&nbsp;&nbsp;<img src="/static/images/small-curl.png">
		<br><small>Please have a look at the following links</small>
	</h1>
	<br>
	<div class="text-center home-footer">
		<h3>
			For more information on Sound and Vision Labs, please visit our new
			<a href="http://blofeld.beeldengeluid.nl:7000" target="_benglabs">site</a>
		</h3>
		<h3>
			Read more on the current status of LABO
			<a href="https://sites.google.com/a/beeldengeluid.nl/labsteam" target="_labo">here</a>
		</h3>
		<h3>
			For more information on Sound and Vision R&amp;D, please visit our
			<a href="http://labs.beeldengeluid.nl" target="_benglabs">site</a>
		</h3>
		<br>
		<br>
		<br>
	</div>



</div> <!-- End container-->

</body>

<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<script src="/static/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="/static/js/labo.js"></script>

</html>