<!doctype HTML>

<html>

<head>
	<title>L A B O</title>
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/main.css">
</head>


<body>

{% with page='home' %}
{% include 'nav.html' %}
{% endwith %}

<div class="container">
	<br>
	<h1 class="text-center">
		Welcome to the CLARIAH Media Suite<br>
		<small></small>
	</h1>
	<br>

	<div class="row">
		<div id="3" class="col-sm-6 col-md-4 card-wrapper">
			<div class="well labs-well labs-goto" onclick="gotoPage('recipes')">
				<h3><i class="fa fa-link"></i>&nbsp;Recipes</h3>
				Try one of the predefined recipes, based on existing media studies use cases
			</div>
		</div>
		<div class="col-sm-6 col-md-8">
			<div class="well labs-well">
				Recipes basically consist of a number of functionalities, 'ingredients', with a particular configuration suited for your type of research.
			</div>
		</div>

	</div>

	<div class="row">
		<div id="3" class="col-sm-6 col-md-4">
			<div class="well labs-well labs-goto" onclick="gotoPage('components')">
				<h3><i class="fa fa-video-camera"></i>&nbsp;Functionalities</h3>
				Visit the component library and try out the available functionalities
			</div>
		</div>
		<div class="col-sm-6 col-md-8">
			<div class="well labs-well">
				Each functionality in the media suite stands on it's own and can be combined with others to form recipes. Recipes can be created by either configuring recipes in your user space or by downloading the component library to be used in your own HTML/Javascript page
			</div>
		</div>
	</div>

	<div class="row">
		<div id="2" class="col-sm-6 col-md-4">
			<div class="well labs-well labs-goto" onclick="gotoPage('apis')">
				<h3><i class="fa fa-plug"></i></span>&nbsp;APIs</h3>
				If you're up for it, use our APIs to build your own functionalities
			</div>
		</div>
		<div class="col-sm-6 col-md-8">
			<div class="well labs-well">
				Currently the CLARIAH infrastructure exposes two APIs: 1) the search API for searching through all of the collections imported from CKAN and 2) the annotation API, which allows you to store and retrieve any annotations made within the CLARIAH media studies infrastructure.
			</div>
		</div>
	</div>

	<h1 class="text-center">
		Want to know more?
		<br><small>Please have a look at the following links</small>
	</h1>

	<div class="text-center home-footer">
		<h3>
			See the available datasets in our CKAN
			<a href="http://52.89.136.166/" target="_ckan">instance</a>
		</h3>
		<h3>
			Read more on the CLARIAH project
			<a href="http://www.clariah.nl/" target="_clariah">site</a>
		</h3>
		<br>
		<br>
		<br>
	</div>

</div>

</body>

<script src="/static/node_modules/jquery/dist/jquery.js"></script>
<script src="/static/js/labo.js"></script>

</html>