<head>
	<title>CLARIAH media suite - Login failed</title>
    {% include '%s/head.html' % headDir %}
</head>

<body>

{% include '%s/nav.html' % navbarDir %}

	<div class="container">

		<div class="row" style="height:50px;">

			<div class="col-md-12">
				<div role="tabpanel" class="tab-pane collection-tab" id="links">

					<div class="row text-center">
						<div class="dashboard-header">
							<h3>The login server failed to log you in</h3>
							{% for error in errors %}
								<span>{{error}}</span>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>