<div class="header">
	<a class="logo" href="/"></a>
	<ul class="menu main">
		{% if page=='data-sources' %}
		<li class="active"><a href="/datasources">Data</a></li>
		<li><a href="/recipes">Tools</a></li>
		{% elif page=='recipes' %}
		<li><a href="/datasources">Data</a></li>
		<li class="active"><a href="/recipes">Tools</a></li>
		{% else %}
		<li><a href="/datasources">Data </a></li>
		<li><a href="/recipes">Tools</a></li>
		{% endif %}
	</ul>

	{% if user != None %}
	<div class="workspace ">
		<i class="icon-workspace"></i>Workspace
		<ul class="dropdown">
			<li>User Projects<span class="count">25</span></li>
			<li class="projects">
				<div class="projects"><input placeholder="Search project">
					<ul>
						<li>Watersnoodramp</li>
						<li>Pim Fortuyn</li>
						<li>Immigratie</li>
						<li>Paars kabinet</li>
						<li>Nationale rampen</li>
						<li>Rol van Radio bij nationale rampen gedurende de nadagen van de Tweede Wereldoorlog</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	{% endif %}

	<div class="right">
		<ul class="menu sub">
			{% if page=='about' %}
			<li class="active">About</li>
			<li><a href="/help-feedback">Documentation</a></li>
			<li><a href="/contact">Contact</a></li>
			{% elif page=='help-feedback' %}
			<li><a href="/about">About</a></li>
			<li class="active">Documentation</li>
			<li><a href="/contact">Contact</a></li>
			{% elif page=='contact' %}
			<li><a href="/about">About</a></li>
			<li><a href="/help-feedback">Documentation</a></li>
			<li class="active">Contact</li>
			{% else %}
			<li><a href="/about">About</a></li>
			<li><a href="/help-feedback">Documentation</a></li>
			<li><a href="/contact">Contact</a></li>
			{% endif %}
		</ul>

		{% if user != None %}
		<div class="account loggedin "><i class="icon-person"></i>Account <span class="username">{{user.name}}</span>
			<ul class="dropdown">
				<li><a class="userLink" href="/userspace">My profile</a></li>
				<li><a class="userLink" href="/logout" title="Logout {{user.name}}">Logout</a></li>
			</ul>
		</div>
		{% else %}
		<div class="account login ">
			<a href="/userspace"><i class="icon-person"></i>Login</a>
		</div>
		{% endif %}
	</div>
</div>