<div id="video_container">

	<!-- HERE THE PLAYER WILL BE LOADED -->
	<div id="video_player">

		{% if player=='jw'%}
			Loading the player...
		{% elif player=='vimeo' %}
		<iframe
			id="player_1"
			src="http://player.vimeo.com/video/7100569?api=1&amp;player_id=player_1"
			width="540"
			height="304"
			frameborder="0">
		</iframe>
		{% endif %}

	</div>

	<!-- THIS IS THE CUSTOM TIMEBAR -->
	<div id="timebar">
		<canvas id="timebar_canvas" width="300" height="50">

		</canvas>
	</div>

</div>


