<head>
	<title>CLARIAH Media Suite - Recipe: {{recipe.id}}</title>
	{% with pageType='app' %}
    {% include '%s/head.html' % headDir %}
    {% endwith %}
</head>

<body>

{% with page='recipes' %}
{% include '%s/nav.html' % navbarDir %}
{% endwith %}

	<div class="container">
		<div class="page-header">
			<h1>{{recipe.name}}</h1>
			{{recipe.recipeDescription | safe}}
	    </div>
		<!-- instead of listing the one recipe, make sure to list a bunch of recipes-->
		<div id="app"/>
	</div>

	<!-- for the linechart & histogram component -->
	<script type="text/javascript" src="/static/node_modules/d3/build/d3.min.js"></script>

	<!-- for TimeSlider.jsx -->
    <script type="text/javascript" src="/static/node_modules/nouislider/distribute/nouislider.min.js"></script>

	<!-- for the player components-->
	<script type="text/javascript" src="/static/node_modules/@vimeo/player/dist/player.min.js"></script>
	<script type="text/javascript" src="/static/vendor/jwplayer-7.5.0/jwplayer.js"></script>

	<!-- for the image viewer -->
	<script type="text/javascript" src="/static/node_modules/openseadragon/build/openseadragon/openseadragon.min.js"></script>
	<script type="text/javascript" src="/static/vendor/openseadragonselection-master/dist/openseadragonselection.js"></script>

	<!-- React is required for the entire library-->
	<script type="text/javascript" src="/static/node_modules/react/dist/react.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/react-dom/dist/react-dom.min.js"></script>

	<!-- The component library -->
	<script type="text/javascript" src="/static/node_modules/labo-components/dist/labo-components.js"></script>
	<script>
		var _chickenStock = '{{token}}';
		var _clientId = '{{clientId}}';
		labo.cookRecipe({{ recipe|tojson|safe }}, {{ params|tojson|safe }}, '{{user.id}}', 'app');
	</script>

	<script type="text/javascript" src="/static/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/static/node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>

</body>