body{
  padding:0;
  margin:0;
  font-family: $fontBody;
  font-size: 13px;
  margin-bottom: 400px;

}

h1,h2,h3,h4,h5{
 font-family: $fontHeading;
}

p{
  padding: 20px;
}

.header{
  margin-bottom: 150px;
}