<head>
	<title>L A B O - Page does not exist</title>
	<link rel="stylesheet" href="/static/css/default/main.css">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

{% include '%s/nav.html' % navbarDir %}

	<div class="container">

		<div class="row" style="height:50px;">

			<div class="col-md-12">
				<div role="tabpanel" class="tab-pane collection-tab" id="links">

					<div class="row text-center">
						<div class="dashboard-header">
							<h3>The page you were looking for does not exist</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>