<!doctype HTML>


<html>

<head>
	<title>L A B O - Contact</title>
	<link rel="stylesheet" href="/static/css/default/main.css">
</head>


<body>

{% with page='contact' %}
{% include '%s/nav.html' % navbarDir %}
{% endwith %}

<div class="container">


	<div class="row text-center">
		<h3>Contact</h3>
	</div>

	<div class="row">

		<div class="col-sm-6 col-md-6">
			<div class="well labs-well">
				<h3>The team</h3>
				Willem Melder<br>
				Themistoklis Karavellas<br>
				Marijn Koolen<br>
				Jaap Blom<br>
				Roeland Ordelman
			</div>

			<div class="well labs-well">
				<div class="text-center">
					<img src="{{pageImage}}" alt="Contact">
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="well labs-well">
				<h3>Contact email</h3>
				rordelman@beeldengeluid.nl
			</div>
		</div>

	</div>

</div> <!-- End container-->

</body>

</html>