<head>
	<title>L A B O - Recipes</title>
	<link rel="stylesheet" href="/static/css/main.css">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

{% with page='recipes' %}
{% include '%s/nav.html' % navbarDir %}
{% endwith %}

	<div class="container">

		<div class="row text-center">
			<h3>Kies een van de voorgedefineerde recepten</h3>
		</div>

		<div class="row">
			{% for key in recipes.keys() %}
				{% if recipes[key].type == 'search' %}
				<div id="{{recipes[key].id}}" class="col-sm-6 col-md-4 api">
					<div class="card">
						<a href="/recipe/{{recipes[key].id}}">
							<img src="/static/images/BG-tile.jpeg">
						</a>
						<div class="caption">
							<h4 class="bengfont"><i class="fa fa-rocket"></i>&nbsp;{{recipes[key].name}}</h4>
							<p>{{recipes[key].description}}</p>
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

</body>