<!doctype HTML>


<html>

<head>
	<title>CLARIAH Media Suite - About</title>
	<link rel="stylesheet" href="/static/css/clariah/main.css">
</head>


<body>

{% with page='about' %}
{% include '%s/nav.html' % navbarDir %}
{% endwith %}

<div class="container">

	<div class="row text-center">
		<h3>About</h3>
	</div>

	<div class="row">

		<div class="col-sm-6 col-md-6">
			<div class="well labs-well">
				<h3>CLARIAH Media Suite</h3>
				De CLARIAH Media Suite is een onderzoeksomgeving voor geesteswetenschappers die werken met gedigitaliseerde &amp; digital born audiovisuele, en hieraan gerelateerde, tekstuele mediabronnen.
				<br>
				<br>
				Dit online platform ondersteunt onderzoekers en biedt nieuwe manieren voor het doorzoeken, verfijnen, selecteren, visualiseren, raadplegen en annoteren van mediabronnen en -collecties.
				<br>
				<br>
				Hiernaast heeft elke onderzoeker de mogelijkheid zijn eigen data te beheren en te analyseren in zijn persoonlijke omgeving.
				<br>
				<br>
				Met het oog op reproduceerbaarheid en provenantie en wordt zoveel mogelijk informatie over de herkomst en inhoud van de op het platform aanwezige data inzichtelijk gemaakt en bijgehouden.
			</div>

			<div class="well labs-well">
				<div class="text-center">
					<img src="{{pageImage}}" alt="About">
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="well labs-well">
				<h3>Wat is CLARIAH Media Studies?</h3>
				CLARIAH Media Studies richt zich op geesteswetenschappers die onderzoek verrichten in het audiovisuele domein.
				Binnen CLARIAH wordt dit focusgebied vertegenwoordigd door: de Universiteit van Amsterdam, de Universiteit Utrecht, de Vrije Universiteit, de Erasmus Universiteit en het Nederlands Instituut voor Beeld en Geluid.

				<h3>Voor wie is CLARIAH Media Studies?</h3>
				CLARIAH Media Studies is voor media-onderzoekers en geesteswetenschappers die audiovisuele en tekstuele mediabronnen en datasets willen exploreren, selecteren en analyseren. Onderzoekers kunnen de gereedschappen hiervoor op kritische wijze en in combinatie met elkaar inzetten voor kwalitatief en/of kwantitatief onderzoek naar vraagstukken over cultuur, geschiedenis, politiek, discours en digitale media.

				<h3>Wat ging er vooraf?</h3>
				CLARIAH Media Studies bouwt voort op enkele bestaande zoekmachines en collecties en maakt deze duurzaam beschikbaar. De componenten uit deze zoekmachines worden daarnaast geschikt gemaakt voor het maken van nieuwe combinaties en het gebruik van nieuwe collecties. Tijdens het project blijven vier van de vijf eerder gebouwde tools voor gebruikers beschikbaar.

			</div>
		</div>

	</div>

</div> <!-- End container-->

</body>

</html>