<!doctype HTML>


<html>

<head>
	<title>CLARIAH Media Suite - Contact</title>
	<link rel="stylesheet" href="/static/css/clariah/main.css">
</head>


<body>

{% with page='contact' %}
{% include '%s/nav.html' % navbarDir %}
{% endwith %}

<div class="container">


	<div class="row text-center">
		<h3>Contact</h3>
	</div>

	<div class="row">

		<div class="col-sm-6 col-md-6">
			<div class="well labs-well">
				<h3>CLARIAH Media Studies team</h3>
				<br>

				<h4>Universiteit van Amsterdam</h4>
				Julia Noordegraaf<br>
				Thomas Poell<br>
				Liliana Melgar<br>
				<br>

				<h4>Vrije Universiteit</h4>
				Oana Inel<br>
				Victor de Boer<br>
				Lora Aroyo<br>
				Chiel van den Akker<br>
				<br>

				<h4>Erasmus School of History, Culture and Communication</h4>
				Norah Karrouche<br>
				Stef Scagliola<br>
				<br>

				<h4>Universiteit van Utrecht</h4>
				Jasmijn van Gorp<br>
				<br>

				<h4>Nederlands Instituut voor Beeld en Geluid</h4>
				Roeland Ordelman<br>
				Eva Baaren<br>
				Jaap Blom<br>
				Willem Melder<br>
				Themistoklis Karavellas<br>
				Carlien Booij<br>
			</div>
		</div>

		<div class="col-sm-6 col-md-6">
			<div class="well labs-well">
				<h3>Contact email</h3>
				rordelman@beeldengeluid.nl
			</div>

			<div class="well labs-well">
				<div class="text-center">
					<img src="{{pageImage}}" alt="Contact">
				</div>
			</div>
		</div>

	</div>

</div> <!-- End container-->

</body>

</html>