/* ======================== recipe.html ======================== */

.app-container {
	margin: 0px 15px;
}

/* ======================== QueryFactory.jsx ======================== */

.query-grid {
	.cell {
		display:inline-block;
		height: 600px;
		float:left;
		margin-right: 2%;
		margin-top: 1%;
		width:48%;

		/*border: 1px solid #eee;*/
		background-color: #f8f8f8;

		padding: 3px 8px;
		border-radius: 2px;

		.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
			background-color: #f8f8f8;
		}
	}
}

/* ======================== CollectionSelector.jsx ======================== */

.collection {
	float: left;
    margin: 1% 1% 1% 1%;
    border-radius: 4px;
    border: 1px solid grey;
    width: 30%;
    overflow:hidden;
    padding: 10px;
    height: 250px;
    text-align: center;
	img {
    	width: 50%;
	}
	&:hover {
		box-shadow: 3px 3px 3px grey;
	}
	.caption {

	}
}

/* ======================== ItemDetails / ItemDetailsRecipe ======================== */

.flex-table {
	table-layout:fixed;
	word-wrap: break-word;
	tr {
		td {
			white-space:pre-wrap;
			&:first-child {
				width:125px;
			}
		}
	}
}

.flex-input-area {
	margin-top:5px;
	background-color: #f8f8f8;
	padding: 3px 8px;
}

.raw-data {
	overflow:auto;
	height: 400px;
}

/* ======================== ComparativeSearch.jsx ======================== */

.tab-new {
	a {
		color: $clBlue !important;
		&:hover {
			text-decoration:underline;
		}
	}
}

/* ======================== Histogram.jsx ======================== */

.bar {
	cursor: pointer;
	rect {
		fill: $clOrange;
		&:hover {
			fill: $clBlue;
		}
	}
	text {
		fill: $clDark;
		font: 10px sans-serif;
		&:hover {
			font-size:150%;
			z-index:199;
		}
	}
}

/* ======================== FlexAggregationBox.jsx ======================== */

.tag-cloud {
	padding: $defaultMargin;
	.tag-cloud-item {
		display:inline-block;
		margin: 0px 5px 5px 0px;
		color: $clBlue;
		cursor: pointer;
		&:hover {
			text-decoration:underline;
		}
	}
}

.active.tag-cloud-item {
	font-weight: bold;
}

.breadcrumbs {
	.crumb {
		display: inline-block;
    	margin: 0px 5px 5px 0px;
    	background-color: $clBlue;
    	padding: 0px 5px;
    	color: white;
    	i {
    		cursor: pointer;
	    	&:hover {
	    		color: $clOrange;
	    	}
	    }
	}
}

/* ======================== Collapsable list menu ======================== */

.components-header {
	font-size:110%;
	color: $clRed;
	&:hover {
		color: darkorange;
	}
}

.component-category {
	width:100%;
	.category-header {
		color: $clBlue;
		&:hover {
			color: $clRed;
		}
	}
}

.component-list {
	li {
		a {
			color: $clDark;
			&:hover {
				color: $clBlue;
			}
		}
	}
}

/* ======================== FlexBox ======================== */

.flex-box {
	padding: $defaultMargin;
	margin-bottom: $defaultMargin;
	cursor:pointer;
	.fb-open {
		float:right;
		&:after {
			content: "\25BC";
		}
		&:hover {
			text-decoration:underline;
		}
	}
	.fb-closed {
		float:right;
		&:after {
			content: "\25B2";
		}
	}
}

.closed.flex-box {
	&:hover {
		background-color:$clBlue;
	}
}

/* ======================== FlexModal ======================== */

.flex-modal {
	width:55%;
}

/* ======================== FlexHits ======================== */

.flex-hit {
	margin: 5px;
	padding: 10px;
	border-bottom: 1px solid $clGrey;
	.fh-quickview {
		margin-right:10px;
		float:left;
	}
	.media {
		margin: 5px;
	}
}

.fragment.flex-hit {
	margin: 5px;
	padding: 10px;
	border-right: 1px solid $clOrange;
}


/* ======================== MultiLayeredFragmentSearch ======================== */

.search-layer-options {
	.search-layer-option {
		display:inline;
		margin-right:20px;
		cursor:pointer;
		font-weight:normal;
		input {
			margin-right:10px;
		}
	}
}

.facet-group {
	list-style:none;
	margin:0px;
	padding:0px;
	.facet-item {
		color: dodgerblue;
		&:hover {
			color:#ccc;
		}
	}
}

/* ======================== Line graph ======================== */

.axis path,
.axis line {
	fill: none;
	stroke: #e3e3e3;
	shape-rendering: crispEdges;

}

.x.axis path {
	display: none;
}

.line {
	fill: none;
	stroke-width: 1.5px;
}

/* ========================  Annotation ======================== */

.annotation {
	span {
		padding-right: 5px;
	}
	.asset-id {
		color: darkred;
	}
	.fragment-info {
		color: dodgerblue;
	}
	.user-info {
		font-weight: bold;
	}
}

.tag {
	font-size: 100% !important;
	display: inline-block !important;
	margin: 0px 5px 5px 0px;
}

/* -------- LinkingForm.jsx -------- */

.c-result-list {
	height: 400px;
	overflow: auto;
}


/* -------- For the 'information cards' -------- */

.card-list {
	list-style: none;
	padding: 10px;
	margin: 0px;
	.key {
		font-weight: bold;
	}
	li {
		border-bottom:1px dotted #e3e3e3;
		word-break: break-word;
	}
	margin-bottom:5px;
	border:1px solid white;
	&:hover {
		background-color: #efefef;
		border: 1px solid $clBlue;
	}
}

.card-table {
	width: 100%;
	margin-bottom:10px;
}

.card-table-row {
	.key {
		width:25%;
		padding-right:1%;
	}
	.value {
		width:65%;
		padding-right:1%;
	}
	.icon {
		width:6%;
	}
	border-bottom:5px solid transparent;
	vertical-align: top;
}

/* -------- For the autocomplete stuff -------- */

.react-autosuggest__container {
	position: relative;
}

.react-autosuggest__input {
	width: 90%;
	height: 30px;
	padding: 10px 20px;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	border: 1px solid #aaa;
	border-radius: 4px;
}

.react-autosuggest__input:focus {
	outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
	position: absolute;
	top: 51px;
	width: 90%;
	height: 420px;
	overflow:auto;
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 1px solid #aaa;
	background-color: #fff;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 2;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
	background-color: #ddd;
}