@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.home-separator {
	margin:$default-margin * 5 0px;
}

.separator {
	height: 1em;
}

.home-footer {
	a {
		color: $clOrange;
	}
}

.collection-tab {
	padding:$default-margin;
	height:100%;
}

.labs-goto {
	cursor: pointer;
	h3 {
		color: $clOrange;
	}
}

.interactive {
	cursor:pointer;
}

/* ------------------------ recipes.html ---------------------- */
.panel-body {
	min-height: 180px;
}

/* ======================== CLARIAH specific ======================== */

.cl-well {
	border-color: $clOrange;
}

.nav-tabs {
	li {
		a {
			color: $clOrange;
		}
	}
}

.app-version {
	float:right;
	color: $clOrange;
	padding:15px 15px;
	font-style: italic;
	.logout {
		font-style: normal;
		a {
			color: $clDark;
		}
	}
}

.components-header {
	font-size:110%;
	color: red;
	&:hover {
		color: darkorange;
	}
}

.component-category {
	width:100%;
	.category-header {
		color: $clBlue;
		&:hover {
			color: red;
		}
	}
}

.component-list {
	li {
		a {
			color: $clDark;
			&:hover {
				color: $clBlue;
			}
		}
	}
}
