.timebar {
	width:100%;
	height:50px;
	display:block;
	position:relative;
	margin-top:10px;
	background-color: black;
	cursor: crosshair;
}

.media-player {
	img {
		max-width:100%;
	}
}

.image-overlay {
	outline: 2px solid #444;
	background-color:transparant;
	cursor: pointer;
	&.active {
		outline: 2px solid crimson;
	}
}